
.logo{
    width: 120px;
}
.hero_img{
    width: 100%;
}

.description-img{
    position: absolute;
    left: 61%;
    z-index: 100;
    bottom: 20%;
}
.description-img p{
    word-spacing: 5px;
    font-size: 20px;
    width: 400px;
}
.description-img button{
    margin-top: 10px;
    background-color: black;
    color: yellow;
    padding: 10px 20px;
    font-size: 18px;
}

.box{
    margin-bottom: 10px;
    width: 500px;
    position: relative;



}
.box img{
    width: 500px;
    height: 395px;
}
.img_shadow{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;    width: 380px;

}
.store img{
    height: 800px;
    width: 630px;

}
.store{
    width: 100%;
}

.catg::before{
    content: '';
    width: 200px;
    background-color: black;
    height: 6px;
    display: inline-block;
    position: relative;
    bottom: 15px;
}
.catg::after{
    content: '';
    width: 200px;
    background-color: black;
    height: 6px;
    display: inline-block;
    position: relative;
    bottom: 15px;
}
.catg{
    text-align: center;
    padding: 50px 0px;
    font-size: 60px;
}
.arrivel p, .bestSellers p{
    font-size: 50px;
    padding-top: 20px;
}

.bestSellers p::before, .arrivel p::before{
    content: '';
    background-color: palevioletred;
    width: 8px;
    height:42px;
    display: inline-block;
    margin-right:20px;

}
.bgSlice{
    background-image: url(/images/about1.webp);
    width: 100px;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;

}
input[type="number"]{
    width: 40px;
    height: 25px;
}

.tit-catg{
    position: absolute;
    bottom: 300px;
    left: 50px;
    font-size: 20px;
    font-weight: bold;


}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
  .img-boot-catg{
    height: 200px !important;
  }
  /* afficher all product */
  .img-tab{
    width: 70px;
    height: 70px;
  }
  table th {
    max-width:100%;
    white-space:nowrap;
  }

  table td{
    max-width:100%;
    white-space:nowrap;
  }
/* .color{
    display: none;
} */
.boxPymnt{
    color: black;
    padding: 20px;
    display: none;
    margin-top: 20px;
}

input[type="number"]{
    width: 80px;
}
.full{
    width: 1325px !important;
    position: absolute !important;
    transform: none;
    left: -150px !important;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.image-menu{
    width: 350px;
    height: 350px;
}
.boutique-title{
    text-transform: capitalize !important;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 50px;
}
.slider{
    height: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ddd;
}


/* fin nav bar */
/* debut de section list wish */
.boxList{
    border: 1px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* fin de section list wish */

/********************************************************SECTION ADD PRODUCT***********************************/
.NomTaille{
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

.addcolor{
    background-color: transparent;
    border: 2px solid ;
    color: black;
    text-transform:capitalize;

}
.inputStock{
    width: 110px !important;
}

.email-dash{
    color:blue
}

.image-dash{
    width: 110px;
    height: 110px;
    border-radius: 90%;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    -ms-border-radius: 90%;
    -o-border-radius: 90%;
}

/********************************************************FIN SECTION ADD PRODUCT***********************************/

